:root {
  /* *font */
  --logo-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
  /* *color */
  --iris-color: #4d5ae5;
  --dark-text-color: #2e2f42;
  --background-color: #f4f4fd;
  --body-text-color: #434455;
  --white-color: #ffffff;
  --accent-color: #e7e9fc;
  --pressed-hover-color: #404bbf;
  --success-color: #31d0aa;
  --subtle-color: #8e8f99;
  /* *flex */
  --indent: 24px;
  --items: 4;
}

.list-set {
  display: flex;
  gap: var(--indent);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  outline: none;
  text-decoration: none;
}

.none {
  display: none;
}

body {
  background-color: var(--white-color);
  color: var(--body-text-color);
  font-size: 16px;
  font-family: var(--main-font);
  margin: 0 auto;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  z-index: 999;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: var(--white-color);
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: var(--white-color);
  border: none;
  outline: none;
}
@media (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu__link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1111111111;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
}
.mobile-menu__link.current {
  color: var(--pressed-hover-color);
}

.socials-mobile {
  display: flex;
  gap: 56px;
  justify-content: left;
}

.mobile__phone {
  max-width: 337px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.1111111111;
  color: var(--iris-color);
}

.phone__item {
  margin-bottom: 40px;
}

.mobile__email {
  max-width: 192px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
}

.email__item {
  margin-bottom: 48px;
}

.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid red;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* ?HERO MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: scale(0.8);
  transform: translateX(-50%) translateY(-75%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 408px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.modal__btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  background-color: var(--pressed-hover-color);
  fill: var(--white-color);
}

.modal__title {
  display: block;
  margin-bottom: 14px;
  color: var(--dark-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  color: var(--subtle-color);
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.04em;
}

.input-block {
  position: relative;
  margin-bottom: 8px;
}

.input-modal {
  display: block;
  width: 100%;
  height: 40px;
  padding: 11px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  font-size: 18px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus {
  border: 1px solid var(--iris-color);
}
.input-modal:focus + .input-icon {
  fill: var(--iris-color);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  pointer-events: none;
  fill: var(--dark-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
}

.comment-modal {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  font-size: 12px;
  line-height: 2;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-modal::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.04em;
}
.comment-modal::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.04em;
}
.comment-modal:focus {
  border: 1px solid var(--iris-color);
}

.label-checkbox {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.modal__chekbox {
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--dark-text-color);
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8' fill='none'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.modal__chekbox:checked {
  border: var(--pressed-hover-color);
  background-color: var(--pressed-hover-color);
}

.text-order {
  color: #757575;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.04em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.link-order {
  color: var(--iris-color);
  outline: none;
  text-decoration: underline;
}

.modal-send__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  border: var(--iris-color);
  border-radius: 4px;
  background: var(--iris-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-send__btn:hover, .modal-send__btn:focus {
  background-color: var(--pressed-hover-color);
}

.section__subtitle {
  margin-bottom: 8px;
  color: var(--dark-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section__text {
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 77px;
  color: var(--iris-color);
  font-weight: 800;
  font-size: 18px;
  font-family: var(--logo-font);
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo:focus {
  color: var(--iris-color);
}

.section__title {
  margin-bottom: 72px;
  color: var(--dark-text-color);
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

/* !HEADER */
.header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo__span {
  color: var(--dark-text-color);
}

.menu {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu__link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--dark-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu__link:focus, .menu__link:hover {
  color: var(--pressed-hover-color);
}
.menu__link.current {
  color: var(--pressed-hover-color);
}
.menu__link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--pressed-hover-color);
}

.contact {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    display: block;
    padding-top: 27px;
    padding-bottom: 10px;
  }
}

.contact-email__link,
.contact-telephone__link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-email__link:hover, .contact-email__link:focus,
.contact-telephone__link:hover,
.contact-telephone__link:focus {
  color: var(--pressed-hover-color);
}
.contact-email__link:hover, .contact-email__link:focus,
.contact-telephone__link:hover,
.contact-telephone__link:focus {
  color: var(--pressed-hover-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-email__link,
  .contact-telephone__link {
    padding: 0;
    font-size: 12px;
    line-height: 1.3333333333;
  }
}

.header-menu__btn {
  stroke: var(--dark-text-color);
  padding: 0;
}

/* !HERO SECTION */
.hero {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--dark-text-color);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/imagesmain/herobg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.hero__title {
  width: 496px;
  margin: 0 auto 64px auto;
  color: var(--white-color);
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero__btn {
  min-width: 170px;
  padding: 16px 32px;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--iris-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 600;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--pressed-hover-color);
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0;
  }
}

.benefits__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--background-color);
}
@media screen and (max-width: 1200px) {
  .benefits__block {
    display: none;
  }
}

.benefits__list {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 72px;
}
@media screen and (max-width: 1200px) {
  .benefits__list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

.benefits__subtitle {
  text-align: center;
  margin-bottom: 8px;
  color: var(--dark-text-color);
  font-size: 36px;
  line-height: 1.1111111111;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .benefits__subtitle {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.benefits__text {
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}
@media screen and (min-width: 1200px) {
  .benefits__text {
    font-weight: inherit;
  }
}

@media screen and (max-width: 1200px) {
  .products {
    display: none;
  }
}

/* !TEAM SECTION */
.team {
  background-color: var(--background-color);
}

.team-card {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team__meta {
  padding: 32px 0;
  text-align: center;
}
.team__meta > .section__text {
  margin-bottom: 8px;
}

.socials {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--pressed-hover-color);
}

.socials__icon {
  fill: var(--white-color);
}

/* !CUSTOMERS SECTION */
.customers__list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.customers__item {
  min-width: 168px;
  min-height: 88px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid var(--pressed-hover-color);
}
.customers__link:hover .customers__icon {
  fill: var(--pressed-hover-color);
}
.customers__link:focus .customers__icon {
  fill: var(--pressed-hover-color);
}

.customers__icon {
  fill: var(--subtle-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* !FOOTTER */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-text-color);
}

.footer-container {
  display: flex;
}

.footer .logo {
  margin: 0;
}

.footer__span {
  color: var(--background-color);
}

.footer__text {
  width: 264px;
  margin-top: 16px;
  margin-bottom: 0;
  color: var(--accent-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-subtext {
  margin: 0 0 16px 0;
  color: var(--white-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.socials-footer {
  margin-right: auto;
  margin-left: 120px;
}

.socials-footer__list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.socials-footer__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-footer__link:hover, .socials-footer__link:focus {
  background-color: var(--success-color);
}

.subscribe-footer__label {
  display: block;
  margin: 0 0 16px 0;
  color: var(--white-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.subscribe-footer__block {
  display: flex;
  gap: 24px;
  align-items: center;
}

.subscribe-footer__input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  font-size: 12px;
  line-height: 2;
}
.subscribe-footer__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  letter-spacing: 0.04em;
}
.subscribe-footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  letter-spacing: 0.04em;
}

.subscribe-footer__btn {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  padding: 8px 24px;
  border-color: transparent;
  border-radius: 4px;
  background: var(--iris-color);
  color: var(--white-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-footer__btn:hover, .subscribe-footer__btn:focus {
  background-color: var(--pressed-hover-color);
}

/* !PORFOLIO */
.portfolio {
  padding-top: 96px;
}

.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filtr-btn {
  max-width: 116px;
  max-height: 48px;
  padding: 8px 16px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--iris-color);
  font-weight: 500;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr-btn:hover, .filtr-btn:focus {
  border-color: transparent;
  background-color: var(--pressed-hover-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.portfolio-set__item {
  flex-basis: calc((100% - 48px) / 3);
  min-width: 360px;
  min-height: 420px;
}

.portfolio__link {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:focus, .portfolio__link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio__link:hover .overlay, .portfolio__link:focus .overlay {
  transform: translateY(0);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.overlay__text {
  position: absolute;
  top: 40px;
  left: 32px;
  width: 296px;
  margin: 0;
  color: var(--background-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.card-name {
  margin: 0;
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio__subtitle {
  margin-bottom: 8px;
  color: var(--dark-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}/*# sourceMappingURL=main.css.map */