.logo {

    padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 77px;
  color: var(--iris-color);
  font-weight: 800;
  font-size: 18px;
  font-family: var(--logo-font);
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  &:focus {
  color: var(--iris-color);
}
}