.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  z-index: 999;

  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: auto;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  &.is-open {
    transform: translateX(0);
  }

  & .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: var(--white-color);
  }
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: var(--white-color);
  border: none;
  outline: none;

  @media (min-width: 767px) {
    display: none;
  }
}
.mobile-menu {
  margin-bottom: auto;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu__link {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: var(--dark-text-color);

  &.current {
    color: var(--pressed-hover-color);
  }
}

.socials-mobile {
  display: flex;
  gap: 16px;
  justify-content: left;

  @media screen and (min-width:428px) {
    gap: 56px;
  }
}

.socials-mobile__item{
width: 100%;
}

.mobile-menu__list{
  max-width: 339px;
}

.mobile__phone {
  max-width: 337px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: calc(40 / 28);
  color: var(--iris-color);

  @media screen and (min-width:428px) {
    font-size: 36px;
    line-height: calc(40 / 36);
  }
}

.phone__item {
  margin-bottom: 40px;
}

.mobile__email {
  max-width: 192px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
}

.email__item {
  margin-bottom: 48px;
}

.email__item, .phone__item{
  width: 100%;
}