/* !FOOTTER */
.footer{
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--dark-text-color);

  @media screen and (min-width:1200px) {
      padding-top: 100px;
  padding-bottom: 100px;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
justify-content: center;

@media screen and (min-width: 768px) and (max-width:1199.98px) {
 justify-content: left; 
}

  @media screen and (min-width:1200px) {
    flex-wrap: nowrap;
  }
}

.footer-logo__block{
  @media screen and (min-width:768px) {
    margin: 0;
    margin-left: 93px;
  }

  @media screen and (min-width:1200px) {
    margin: 0;
  }
}

.footer .logo {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;

  @media screen and (min-width:768px) {
    text-align: left;
  }
}

.footer__span {
  color: var(--background-color);
}

.footer__text {
  width: 264px;

  margin-top: 16px;
  margin-bottom: 0;
  color: var(--accent-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-subtext {
text-align: center;

  margin: 0 0 16px 0;
  color: var(--white-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
    @media screen and (min-width:768px) {
    text-align: left;
  }
}

.socials-footer {
  padding: 72px 0;

  @media screen and (min-width:768px) {
    padding: 0;
    margin: 0;
    margin-left: 24px;
  }


  @media screen and (min-width:1200px) {
    margin-left: 120px;
  }
}

.socials-footer__list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.socials-footer__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  background-color: var(--success-color);
}
}

.subscribe-footer{
width: 100%;

@media screen and (min-width:768px) {
  margin-top: 72px;
  margin-left: 93px;
}

  @media screen and (min-width:1200px){
    margin: 0;
    margin-left: 80px;
  }
}

.subscribe-footer__label{
  display: block;
  text-align: center;
    margin: 0 0 16px 0;
  color: var(--white-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  @media screen and (min-width:768px) {
    text-align: left;
  }
}

.subscribe-footer__block {
  @media screen and (min-width:768px) {
      display: flex;
  gap: 24px;
  align-items: center;
  }
}

.subscribe-footer__input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  margin-bottom: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  font-size: 12px;
  line-height: calc(24 / 12);

  &::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  letter-spacing: 0.04em;
}

@media screen and (min-width:768px) {
  width: 264px;
  margin-bottom: 0;
}
}

.subscribe-footer__btn {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  max-width: 165px;
max-height: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 24px;
  border-color: transparent;
  border-radius: 4px;
  background: var(--iris-color);
  color: var(--white-color);
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  background-color: var(--pressed-hover-color);
}

@media screen and (min-width:768px) {
  margin: 0;
}
}
